body{
  background-color:#EAF6F6;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  width: 5%;
  border-width: 5px;
}
h1{
  color: #66BFBF;
  text-align: center;
}
h3{
  color: #66BFBF;
  text-align: center;
}
h4{
  text-align: center;
}
h5{
  text-align: center;
}
p{
  text-align: center;
}
